@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Borel&family=Luckiest+Guy&family=Pacifico&display=swap'); */

html { 
    background: linear-gradient( rgb(97, 93, 93), white) no-repeat center center fixed;
    background-size: cover;
}

body {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.image{
    width: 260px;
    padding: 30px 0;
    position: relative;
    border: 2px solid rgb(93,90,85);
}

header img {
    width: 164px;
    height:fit-content;
    display: block;
    margin: auto;    
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

    text-align: center; 
    line-height: 172px; 

    /*
    display: flex;
    justify-content : center;
    align-items: center;
    flex-direction: column;
    */

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: ease 1s; /* 0.6s; */
}
.content:hover{
    opacity: 1;
}

.content a{
    font-size: small;
    font-weight: 700;
    color: rgb(204, 227, 249); /*inherit;*/
}
/*
.content > *{
    transform: translateY(130px);
    transition: transform 1s;
}
.content > *{
    transform: translateY(0);

}
*/

h1 {
    font-weight: 300;
}

/* FORM */
form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 2px solid yellow;
}

input {
    height: 3rem;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid black;
    margin: 2px;
}

input[type="text"] {
    width: 25rem;
    padding: 0px 10px;
}

input[type='submit'] {
    background: pink;
    cursor: pointer;
}

input[type='submit']:hover {
    transform: scale(1.1);
    transition: ease 0.5s;
}


/* UL li injection */
ul {
    margin: 0;
    padding: 0;
    background-color: green;
}

li {
    list-style: none;
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
    max-width: calc(35rem - 9rem);
    font-weight: 500;
    word-wrap: break-word;
    font-size: larger;
}

button {
    margin: 5px 0px 5px 0px;
    width: 4rem;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.done {
    background-color: rgba(153, 255, 0, 0.7);
}
.done::after{
    content: 'Done';
}
.delete {
    background-color: red;
}
.undo {
    background: rgba(0,0,0,0);
    color: blue;
    border: 1px solid blue;
}
.undo::after {
    content: "Undo";
}

.taskComplete {
    text-decoration: line-through wavy hsl(0, 20%, 50%); 
    color: grey;
}